<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ContentMapper">
	<resultMap id="BaseResultMap" type="com.fh.entity.henxin.Content" >
		<id column="content_id" property="contentId" jdbcType="INTEGER" />
		<result column="content_name" property="contentName" jdbcType="VARCHAR" />
		<result column="content_type" property="contentType" jdbcType="VARCHAR" />
		<result column="doc_type" property="docType" jdbcType="VARCHAR" />
		<result column="path" property="path" jdbcType="VARCHAR" />
		<result column="ref_table" property="refTable" jdbcType="VARCHAR" />
		<result column="ref_filed" property="refFiled" jdbcType="VARCHAR" />
		<result column="ref_value" property="refValue" jdbcType="VARCHAR" />
		<result column="file_size" property="fileSize" jdbcType="VARCHAR" />
		<result column="create_date" property="createDate" jdbcType="VARCHAR" />
		<result column="USER_ID" property="userId" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List" >
		content_id, content_name, content_type, doc_type, path, ref_table, ref_filed, ref_value,
		file_size, create_date, USER_ID
	</sql>

	<select id="getContentInfo" parameterType="Content" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from content
		where 1=1
		<if test="contentId!=null">
		and content_id = #{contentId}
		</if>
		<if test="contentType!=null">
			and content_type = #{contentType}
		</if>
		<if test="docType!=null">
			and doc_type = #{docType}
		</if>
		<if test="client!=null">
			and ref_table = #{refTable}
		</if>
		<if test="client!=null">
			and ref_filed = #{refFiled}
		</if>
		<if test="client!=null">
			and ref_value = #{refValue}
		</if>
		<if test="userId!=null">
			and USER_ID = #{userId}
		</if>

	</select>
	<!-- 新增 -->
	<insert id="save" parameterType="Content" flushCache="false">
		insert into content (content_name, content_type,
      doc_type, path, ref_table,
      ref_filed, ref_value, file_size,
      create_date, USER_ID)
    values (#{contentName,jdbcType=VARCHAR}, #{contentType,jdbcType=VARCHAR},
      #{docType,jdbcType=VARCHAR}, #{path,jdbcType=VARCHAR}, #{refTable,jdbcType=VARCHAR},
      #{refFiled,jdbcType=VARCHAR}, #{refValue,jdbcType=VARCHAR}, #{fileSize,jdbcType=VARCHAR},
      #{createDate,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR})
	</insert>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
		delete from content
		where content_id = #{contentId,jdbcType=INTEGER}
	</delete>
	<insert id="insertSelective" parameterType="com.fh.entity.henxin.Content" >
		insert into content
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="contentId != null" >
				content_id,
			</if>
			<if test="contentName != null" >
				content_name,
			</if>
			<if test="contentType != null" >
				content_type,
			</if>
			<if test="docType != null" >
				doc_type,
			</if>
			<if test="path != null" >
				path,
			</if>
			<if test="refTable != null" >
				ref_table,
			</if>
			<if test="refFiled != null" >
				ref_filed,
			</if>
			<if test="refValue != null" >
				ref_value,
			</if>
			<if test="fileSize != null" >
				file_size,
			</if>
			<if test="createDate != null" >
				create_date,
			</if>
			<if test="userId != null" >
				USER_ID,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="contentId != null" >
				#{contentId,jdbcType=INTEGER},
			</if>
			<if test="contentName != null" >
				#{contentName,jdbcType=VARCHAR},
			</if>
			<if test="contentType != null" >
				#{contentType,jdbcType=VARCHAR},
			</if>
			<if test="docType != null" >
				#{docType,jdbcType=VARCHAR},
			</if>
			<if test="path != null" >
				#{path,jdbcType=VARCHAR},
			</if>
			<if test="refTable != null" >
				#{refTable,jdbcType=VARCHAR},
			</if>
			<if test="refFiled != null" >
				#{refFiled,jdbcType=VARCHAR},
			</if>
			<if test="refValue != null" >
				#{refValue,jdbcType=VARCHAR},
			</if>
			<if test="fileSize != null" >
				#{fileSize,jdbcType=VARCHAR},
			</if>
			<if test="createDate != null" >
				#{createDate,jdbcType=VARCHAR},
			</if>
			<if test="userId != null" >
				#{userId,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.fh.entity.henxin.Content" >
		update content
		<set >
			<if test="contentName != null" >
				content_name = #{contentName,jdbcType=VARCHAR},
			</if>
			<if test="contentType != null" >
				content_type = #{contentType,jdbcType=VARCHAR},
			</if>
			<if test="docType != null" >
				doc_type = #{docType,jdbcType=VARCHAR},
			</if>
			<if test="path != null" >
				path = #{path,jdbcType=VARCHAR},
			</if>
			<if test="refTable != null" >
				ref_table = #{refTable,jdbcType=VARCHAR},
			</if>
			<if test="refFiled != null" >
				ref_filed = #{refFiled,jdbcType=VARCHAR},
			</if>
			<if test="refValue != null" >
				ref_value = #{refValue,jdbcType=VARCHAR},
			</if>
			<if test="fileSize != null" >
				file_size = #{fileSize,jdbcType=VARCHAR},
			</if>
			<if test="createDate != null" >
				create_date = #{createDate,jdbcType=VARCHAR},
			</if>
			<if test="userId != null" >
				USER_ID = #{userId,jdbcType=VARCHAR},
			</if>
		</set>
		where content_id = #{contentId,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.fh.entity.henxin.Content" >
		update content
		set content_name = #{contentName,jdbcType=VARCHAR},
		content_type = #{contentType,jdbcType=VARCHAR},
		doc_type = #{docType,jdbcType=VARCHAR},
		path = #{path,jdbcType=VARCHAR},
		ref_table = #{refTable,jdbcType=VARCHAR},
		ref_filed = #{refFiled,jdbcType=VARCHAR},
		ref_value = #{refValue,jdbcType=VARCHAR},
		file_size = #{fileSize,jdbcType=VARCHAR},
		create_date = #{createDate,jdbcType=VARCHAR},
		USER_ID = #{userId,jdbcType=VARCHAR}
		where content_id = #{contentId,jdbcType=INTEGER}
	</update>
</mapper>