<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DetailMapper">
	
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into HX_DETAIL(
			QUERY_DATE,	
			DITCH,	
			ENTRUST,	
			PHONE,	
			LOCATION,	
			STATUS,	
			USER_ID,	
			CREATE_TIME,	
			DETAIL_ID,
			DEPARTMENT,
			SUMPRICE,
			EXP_TIME,
			REMARK
		) values (
			#{QUERY_DATE},	
			#{DITCH},	
			#{ENTRUST},	
			#{PHONE},	
			#{LOCATION},	
			#{STATUS},	
			#{USER_ID},	
			#{CREATE_TIME},	
			#{DETAIL_ID},
			#{DEPARTMENT},
			#{SUMPRICE},
			#{EXP_TIME},
			#{REMARK}
		)
	</insert>
	
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from HX_DETAIL
		where 
			DETAIL_ID = #{DETAIL_ID}
	</delete>
	
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update  HX_DETAIL
			set 
				QUERY_DATE = #{QUERY_DATE},
				DITCH = #{DITCH},
				ENTRUST = #{ENTRUST},
				PHONE = #{PHONE},
				LOCATION = #{LOCATION},
				STATUS = #{STATUS},
				DEPARTMENT = #{DEPARTMENT},
				SUMPRICE = #{SUMPRICE},
				EXP_TIME = #{EXP_TIME},
				REMARK = #{REMARK},
			DETAIL_ID = DETAIL_ID
			where 
				DETAIL_ID = #{DETAIL_ID}
	</update>
	
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
			QUERY_DATE,	
			DITCH,	
			ENTRUST,	
			PHONE,	
			LOCATION,	
			STATUS,	
			USER_ID,	
			CREATE_TIME,	
			DETAIL_ID,
			DEPARTMENT,
			SUMPRICE,
			EXP_TIME,
			REMARK
		from 
			HX_DETAIL
		where 
			DETAIL_ID = #{DETAIL_ID}
	</select>
	
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
				a.QUERY_DATE,	
				a.DITCH,	
				a.ENTRUST,	
				a.PHONE,	
				a.LOCATION,	
				a.STATUS,
				a.CREATE_TIME,	
				a.DETAIL_ID,
				a.DEPARTMENT,
				a.SUMPRICE,
				a.EXP_TIME,
				a.REMARK,
		(select NAME from sys_user where USER_ID=a.USER_ID) as USER_ID
		from 
				HX_DETAIL a
		where
			a.DEPARTMENT = #{pd.DEPARTMENT}
		<if test="pd.DITCH!=null and pd.DITCH!=''">
			and a.DITCH LIKE '%${pd.DITCH}%'
		</if>
		<if test="pd.ENTRUST!=null and pd.ENTRUST!=''">
			and a.ENTRUST LIKE '%${pd.ENTRUST}%'
		</if>
		<if test="pd.LOCATION!=null and pd.LOCATION!=''">
			and a.LOCATION LIKE '%${pd.LOCATION}%'
		</if>
		<if test="pd.STATUS!=null and pd.STATUS!=''">
			and a.STATUS LIKE '%${pd.STATUS}%'
		</if>
		order by a.DITCH,a.QUERY_DATE desc
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
				a.QUERY_DATE,	
				a.DITCH,	
				a.ENTRUST,	
				a.PHONE,	
				a.LOCATION,	
				a.STATUS,	
				(select NAME from sys_user where USER_ID=a.USER_ID) as USER_ID,
				a.CREATE_TIME,	
				a.DETAIL_ID,
				a.DEPARTMENT,
				a.SUMPRICE,
				a.EXP_TIME,
				a.REMARK
		from 
				HX_DETAIL a
				where
			a.DEPARTMENT = #{DEPARTMENT}
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from HX_DETAIL
		where 
			DETAIL_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
</mapper>