<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ReportMapper">
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into HX_REPORT(
		TYPE,
		ADDRESS,
		BANK,
		CLIENT,
		CREATE_DATE,
		USER_ID,
		REPORT_ID,
		EXP_TIME
		) values (
		#{TYPE},
		#{ADDRESS},
		#{BANK},
		#{CLIENT},
		#{CREATE_DATE},
		#{USER_ID},
		#{REPORT_ID},
		#{EXP_TIME}
		)
	</insert>


	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from HX_REPORT
		where
		REPORT_ID = #{REPORT_ID}
	</delete>


	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update  HX_REPORT
		set
		TYPE = #{TYPE},
		ADDRESS = #{ADDRESS},
		BANK = #{BANK},
		CLIENT = #{CLIENT},
		REPORT_ID = REPORT_ID,
		EXP_TIME = #{EXP_TIME}
		where
		REPORT_ID = #{REPORT_ID}
	</update>


	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select
		TYPE,
		ADDRESS,
		BANK,
		CLIENT,
		CREATE_DATE,
		USER_ID,
		REPORT_ID,
		EXP_TIME
		from
		HX_REPORT
		where
		REPORT_ID = #{REPORT_ID}
	</select>


	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		a.TYPE,
		a.ADDRESS,
		a.BANK,
		a.CLIENT,
		a.CREATE_DATE,
		a.REPORT_ID,
		a.EXP_TIME,
		(select NAME from sys_user where USER_ID=a.USER_ID) as USER_ID
		from
		HX_REPORT a
		where 1=1
		<if test="pd.ADDRESS!=null">
			and a.ADDRESS LIKE '%${pd.ADDRESS}%'
		</if>
		<if test="pd.CLIENT!=null">
			and a.CLIENT LIKE '%${pd.CLIENT}%'
		</if>
		<if test="pd.BANK!=null">
			and a.BANK LIKE '%${pd.BANK}%'
		</if>
		<if test="pd.TYPE!=null and pd.TYPE!=''">
			and a.TYPE = #{pd.TYPE}
		</if>
		<if test="pd.EXP_TIME!=null and pd.EXP_TIME!=''">
			and a.EXP_TIME = #{pd.EXP_TIME}
		</if>
	</select>

	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		a.TYPE,
		a.ADDRESS,
		a.BANK,
		a.CLIENT,
		a.CREATE_DATE,
		a.USER_ID,
		a.REPORT_ID,
		a.EXP_TIME
		from
		HX_REPORT a
	</select>

	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from HX_REPORT
		where
		REPORT_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
</mapper>